* {
    outline: 1px solid red !important;
}
* {
    -webkit-box-resizing: border-box;
    -moz-box-resizing: border-box;
    -ms-box-resizing: border-box;
    box-sizing: border-box;
}


.image {
    max-width: 460px;
}
.description {
    max-width: 705px;
}